doctype html
html
	head
		meta(charset="utf-8")
		title GbMap
		meta(name="viewport", content="initial-scale=1.0")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="mobile-web-app-capable", content="yes")
		link(rel="stylesheet", href="css/style.css")
	body
		p#b1 Hello world! This is GbMap Boilerplate.
		#map
		script(src="https://maps.googleapis.com/maps/api/js")
		script(src="js/main.js")
		
